<ion-header>
  <ion-toolbar>
    <ion-title>
      Latest
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="images">
    <ion-grid>
        <ion-row >
          <ion-col >
            <ion-card *ngFor="let image of images" >
              <div (click)="onClick(image.id)">
                  <ion-card-header>
                      <ion-card-subtitle>Wallpaper By {{ image.author }}</ion-card-subtitle>
                    </ion-card-header>
                    <img src="{{ image.download_url }}" alt="">
              </div>  
              <ion-card-content>
                  <ion-button color="primary" href="{{ image.download_url }}">Download</ion-button>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
    
        
      </ion-grid>
</ion-content>
