<ion-header>
  <ion-toolbar>
    <ion-title>
      Populer
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Wallpaper By Admin</ion-card-subtitle>
        </ion-card-header>
        <img src="https://icdn6.digitaltrends.com/image/justice-league-batman-720x720.jpg" alt="">
        <ion-card-content>
          Keep close to Nature's heart... and break clear away, once in awhile,
          and climb a mountain or spend a week in the woods. Wash your spirit clean.
        </ion-card-content>
      </ion-card>
    
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Wallpaper By Admin</ion-card-subtitle>
        </ion-card-header>
        <img src="https://icdn6.digitaltrends.com/image/justice-league-batman-720x720.jpg" alt="">
        <ion-card-content>
          Keep close to Nature's heart... and break clear away, once in awhile,
          and climb a mountain or spend a week in the woods. Wash your spirit clean.
        </ion-card-content>
      </ion-card>
    
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Wallpaper By Admin</ion-card-subtitle>
        </ion-card-header>
        <img src="https://icdn6.digitaltrends.com/image/justice-league-batman-720x720.jpg" alt="">
        <ion-card-content>
          Keep close to Nature's heart... and break clear away, once in awhile,
          and climb a mountain or spend a week in the woods. Wash your spirit clean.
        </ion-card-content>
      </ion-card>
    
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Wallpaper By Admin</ion-card-subtitle>
        </ion-card-header>
        <img src="https://icdn6.digitaltrends.com/image/justice-league-batman-720x720.jpg" alt="">
        <ion-card-content>
          Keep close to Nature's heart... and break clear away, once in awhile,
          and climb a mountain or spend a week in the woods. Wash your spirit clean.
        </ion-card-content>
      </ion-card>
  
  
  
</ion-content>
